<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.jk.pojo.Orders" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="PAYMENT" property="payment" jdbcType="VARCHAR" />
    <result column="PAYMENT_TYPE" property="paymentType" jdbcType="DECIMAL" />
    <result column="POST_FEE" property="postFee" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="PAYMENT_TIME" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="CONSIGN_TIME" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CLOSE_TIME" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="SHIPPING_NAME" property="shippingName" jdbcType="VARCHAR" />
    <result column="SHIPPING_CODE" property="shippingCode" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="BUYER_MESSAGE" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="BUYER_NICK" property="buyerNick" jdbcType="VARCHAR" />
    <result column="BUYER_RATE" property="buyerRate" jdbcType="DECIMAL" />
  </resultMap>



  <resultMap id="BaseResultMaps" type="com.jk.pojo.Orders" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="PAYMENT" property="payment" jdbcType="VARCHAR" />
    <result column="PAYMENT_TYPE" property="paymentType" jdbcType="DECIMAL" />
    <result column="POST_FEE" property="postFee" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="PAYMENT_TIME" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="CONSIGN_TIME" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CLOSE_TIME" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="SHIPPING_NAME" property="shippingName" jdbcType="VARCHAR" />
    <result column="SHIPPING_CODE" property="shippingCode" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="BUYER_MESSAGE" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="BUYER_NICK" property="buyerNick" jdbcType="VARCHAR" />
    <result column="BUYER_RATE" property="buyerRate" jdbcType="DECIMAL" />
    <association property="workBook" javaType="com.jk.pojo.WorkBook">
      <result column="ID" property="id" jdbcType="DECIMAL" />
      <result column="CODE" property="code" jdbcType="VARCHAR" />
      <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    </association>
    <association property="workBooks" javaType="com.jk.pojo.WorkBook">
      <result column="IDs" property="id" jdbcType="DECIMAL" />
      <result column="CODEs" property="code" jdbcType="VARCHAR" />
      <result column="DESCRIBEs" property="describe" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <!--five-->
  <resultMap id="returnFiveTable" type="com.jk.pojo.Orders" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="PAYMENT" property="payment" jdbcType="VARCHAR" />
    <result column="PAYMENT_TYPE" property="paymentType" jdbcType="DECIMAL" />
    <result column="POST_FEE" property="postFee" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="PAYMENT_TIME" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="CONSIGN_TIME" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CLOSE_TIME" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="SHIPPING_NAME" property="shippingName" jdbcType="VARCHAR" />
    <result column="SHIPPING_CODE" property="shippingCode" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="BUYER_MESSAGE" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="BUYER_NICK" property="buyerNick" jdbcType="VARCHAR" />
    <result column="BUYER_RATE" property="buyerRate" jdbcType="DECIMAL" />
    <association property="workBook" javaType="com.jk.pojo.WorkBook">
      <result column="ID" property="id" jdbcType="DECIMAL" />
      <result column="CODE" property="code" jdbcType="VARCHAR" />
      <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    </association>
    <association property="workBooks" javaType="com.jk.pojo.WorkBook">
      <result column="IDs" property="id" jdbcType="DECIMAL" />
      <result column="CODEs" property="code" jdbcType="VARCHAR" />
      <result column="DESCRIBEs" property="describe" jdbcType="VARCHAR" />
    </association>
    <association property="user" javaType="com.jk.pojo.User">
      <id column="ID" property="id" jdbcType="DECIMAL" />
      <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    </association>
    <association property="orderShipping" javaType="com.jk.pojo.OrderShipping">
      <id column="orderId" property="orderId" jdbcType="VARCHAR" />
      <result column="RECEIVER_NAME" property="receiverName" jdbcType="VARCHAR" />
      <result column="RECEIVER_PHONE" property="receiverPhone" jdbcType="VARCHAR" />
      <result column="RECEIVER_ADDRES" property="receiverAddres" jdbcType="VARCHAR" />
      <result column="RECEIVER_ZIP" property="receiverZip" jdbcType="VARCHAR" />
    </association>
    <association property="orderItem" javaType="com.jk.pojo.OrderItem">
      <result column="TITLE" property="title" jdbcType="VARCHAR" />
      <result column="PRICE" property="price" jdbcType="DECIMAL" />
      <result column="NUM" property="num" jdbcType="DECIMAL" />
      <result column="TOTAL_FEE" property="totalFee" jdbcType="DECIMAL" />
    </association>
  </resultMap>



  <sql id="Base_Column_List" >
    ORDER_ID, PAYMENT, PAYMENT_TYPE, POST_FEE, STATUS, CREATE_TIME, UPDATE_TIME, PAYMENT_TIME, 
    CONSIGN_TIME, END_TIME, CLOSE_TIME, SHIPPING_NAME, SHIPPING_CODE, USER_ID, BUYER_MESSAGE, 
    BUYER_NICK, BUYER_RATE
  </sql>


  <sql id="Base_Column" >
    t1.ORDER_ID as ORDER_ID, t1.PAYMENT as PAYMENT, t1.PAYMENT_TYPE as PAYMENT_TYPE, t1.POST_FEE as POST_FEE,
    t1.STATUS as STATUS, t1.CREATE_TIME as CREATE_TIME, t1.UPDATE_TIME as UPDATE_TIME, t1.PAYMENT_TIME as PAYMENT_TIME,
    t1.CONSIGN_TIME as CONSIGN_TIME, t1.END_TIME as END_TIME, t1.CLOSE_TIME as CLOSE_TIME,
    t1.SHIPPING_NAME as SHIPPING_NAME, t1.SHIPPING_CODE as SHIPPING_CODE, t1.USER_ID as USER_ID, t1.BUYER_MESSAGE as BUYER_MESSAGE,
    t1.BUYER_NICK as BUYER_NICK, t1.BUYER_RATE as BUYER_RATE,t2.id as id ,t2.CODE as CODE,t2.DESCRIBE as DESCRIBE,
    t3.id as ids ,t3.CODE as CODEs,t3.DESCRIBE as DESCRIBEs
  </sql>


  <!--five字段-->
  <sql id="Base_Column_five" >
    t1.ORDER_ID as ORDER_ID, t1.PAYMENT as PAYMENT, t1.PAYMENT_TYPE as PAYMENT_TYPE, t1.POST_FEE as POST_FEE,
    t1.STATUS as STATUS, t1.CREATE_TIME as CREATE_TIME, t1.UPDATE_TIME as UPDATE_TIME, t1.PAYMENT_TIME as PAYMENT_TIME,
    t1.CONSIGN_TIME as CONSIGN_TIME, t1.END_TIME as END_TIME, t1.CLOSE_TIME as CLOSE_TIME,
    t1.SHIPPING_NAME as SHIPPING_NAME, t1.SHIPPING_CODE as SHIPPING_CODE, t1.USER_ID as USER_ID, t1.BUYER_MESSAGE as BUYER_MESSAGE,
    t1.BUYER_NICK as BUYER_NICK, t1.BUYER_RATE as BUYER_RATE,t2.id as id ,t2.CODE as CODE,t2.DESCRIBE as DESCRIBE,
    t3.id as ids ,t3.CODE as CODEs,t3.DESCRIBE as DESCRIBEs,t4.id as userId,t4.username as userName,t5.order_id as orderId,
    t5.RECEIVER_NAME as RECEIVER_NAME,t5.RECEIVER_PHONE as RECEIVER_PHONE,t5.RECEIVER_ADDRES as RECEIVER_ADDRES,
    t5.RECEIVER_ZIP as RECEIVER_ZIP,t6.id as orderItemId,t6.TITLE as TITLE,t6.PRICE as PRICE,t6.NUM as NUM,
    t6.TOTAL_FEE as TOTAL_FEE
  </sql>

  <select id="queryOrderPoi" resultMap="BaseResultMaps">
    select <include refid="Base_Column"/> FROM  tb_order t1 join tb_workBook t2  on t1.STATUS = t2.CODE join
    tb_workBook t3 on t1.PAYMENT_TYPE = t3.CODE
    order by create_time desc
  </select>




  <select id="queryTotle" parameterType="com.jk.util.PageUtil" resultType="Integer">
    select count(1) FROM  tb_order t1 join tb_workBook t2  on t1.STATUS = t2.CODE join
    tb_workBook t3 on t1.PAYMENT_TYPE = t3.CODE
    <where>
      <if test="whereMap!=null and whereMap.title!=null and whereMap.title!=''">
        and PAYMENT like '%${whereMap.title}%'
      </if>
      <if test="whereMap !=null and whereMap.minPrice = null and whereMap.minPrice!=''">
        and PAYMENT_TYPE &gt; whereMap.minPrice
      </if>
      <if test="whereMap !=null and whereMap.maxPrice = null and whereMap.maxPrice!=''">
        and STATUS &lt; whereMap.maxPrice
      </if>
    </where>
  </select>

  <select id="queryPageOrders" resultMap="BaseResultMaps" parameterType="com.jk.util.PageUtil">

    select * from
    (
    select s.*,rownum rm FROM
    (
    select <include refid="Base_Column"/> FROM  tb_order t1 join tb_workBook t2  on t1.STATUS = t2.CODE join
    tb_workBook t3 on t1.PAYMENT_TYPE = t3.CODE
    <where>
      <if test="whereMap!=null and whereMap.title!=null and whereMap.title!=''">
        and PAYMENT like '%${whereMap.title}%'
      </if>
      <if test="whereMap !=null and whereMap.minPrice = null and whereMap.minPrice!=''">
        and PAYMENT_TYPE = whereMap.minPrice
      </if>
      <if test="whereMap !=null and whereMap.maxPrice = null and whereMap.maxPrice!=''">
        and STATUS = whereMap.maxPrice
      </if>
    </where>
    order by create_time desc
    )
    s where rownum &lt;= #{end}
    )
    where rm &gt; #{start}
  </select>


<!--queryFivetable联查-->
  <select id="queryFivetable" parameterType="com.jk.util.PageUtil" resultMap="returnFiveTable">
    select * from
    (
    select s.*,rownum rm FROM
    (
    select <include refid="Base_Column_five"/> FROM  tb_order t1 join tb_workBook t2  on t1.STATUS = t2.CODE join
    tb_workBook t3 on t1.PAYMENT_TYPE = t3.CODE join tb_user t4 on t1.user_id = t4.id join TB_ORDER_SHIPPING t5
    on t1.ORDER_ID = t5.ORDER_ID join TB_ORDER_ITEM t6 on t1.ORDER_ID = t6.ORDER_ID
    <where>
      <if test="whereMap!=null and whereMap.title!=null and whereMap.title!=''">
        and PAYMENT like '%${whereMap.title}%'
      </if>
      <if test="whereMap !=null and whereMap.minPrice = null and whereMap.minPrice!=''">
        and PAYMENT_TYPE = whereMap.minPrice
      </if>
      <if test="whereMap !=null and whereMap.maxPrice = null and whereMap.maxPrice!=''">
        and STATUS = whereMap.maxPrice
      </if>
    </where>
    order by create_time desc
    )
    s where rownum &lt;= #{end}
    )
    where rm &gt; #{start}
  </select>

<select id="queryFiveCount"  parameterType="com.jk.util.PageUtil" resultType="Integer">
  select count(1) FROM  tb_order t1 join tb_workBook t2  on t1.STATUS = t2.CODE join
  tb_workBook t3 on t1.PAYMENT_TYPE = t3.CODE join tb_user t4 on t1.user_id = t4.id join TB_ORDER_SHIPPING t5
  on t1.id = t5.id join TB_ORDER_ITEM t6 on t1.id = t6.ORDER_ID
  <where>
    <if test="whereMap!=null and whereMap.title!=null and whereMap.title!=''">
      and PAYMENT like '%${whereMap.title}%'
    </if>
    <if test="whereMap !=null and whereMap.minPrice = null and whereMap.minPrice!=''">
      and PAYMENT_TYPE = whereMap.minPrice
    </if>
    <if test="whereMap !=null and whereMap.maxPrice = null and whereMap.maxPrice!=''">
      and STATUS = whereMap.maxPrice
    </if>
  </where>
</select>



  <select id="selectOrderShipping" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * from tb_order_shipping where order_id = #{id};
  </select>

  <select id="queryOrders" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from TB_ORDER
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_ORDER
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_ORDER
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jk.pojo.Orders" >
    insert into TB_ORDER (ORDER_ID, PAYMENT, PAYMENT_TYPE, 
      POST_FEE, STATUS, CREATE_TIME, 
      UPDATE_TIME, PAYMENT_TIME, CONSIGN_TIME, 
      END_TIME, CLOSE_TIME, SHIPPING_NAME, 
      SHIPPING_CODE, USER_ID, BUYER_MESSAGE, 
      BUYER_NICK, BUYER_RATE)
    values (#{orderId,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, #{paymentType,jdbcType=DECIMAL}, 
      #{postFee,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{paymentTime,jdbcType=TIMESTAMP}, #{consignTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{shippingName,jdbcType=VARCHAR}, 
      #{shippingCode,jdbcType=VARCHAR}, #{userId,jdbcType=DECIMAL}, #{buyerMessage,jdbcType=VARCHAR}, 
      #{buyerNick,jdbcType=VARCHAR}, #{buyerRate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.pojo.Orders" >
    insert into TB_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="payment != null" >
        PAYMENT,
      </if>
      <if test="paymentType != null" >
        PAYMENT_TYPE,
      </if>
      <if test="postFee != null" >
        POST_FEE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="paymentTime != null" >
        PAYMENT_TIME,
      </if>
      <if test="consignTime != null" >
        CONSIGN_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME,
      </if>
      <if test="shippingName != null" >
        SHIPPING_NAME,
      </if>
      <if test="shippingCode != null" >
        SHIPPING_CODE,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="buyerMessage != null" >
        BUYER_MESSAGE,
      </if>
      <if test="buyerNick != null" >
        BUYER_NICK,
      </if>
      <if test="buyerRate != null" >
        BUYER_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingName != null" >
        #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null" >
        #{shippingCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="buyerMessage != null" >
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerRate != null" >
        #{buyerRate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.pojo.Orders" >
    update TB_ORDER
    <set >
      <if test="payment != null" >
        PAYMENT = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        PAYMENT_TYPE = #{paymentType,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        POST_FEE = #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        CONSIGN_TIME = #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingName != null" >
        SHIPPING_NAME = #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null" >
        SHIPPING_CODE = #{shippingCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="buyerMessage != null" >
        BUYER_MESSAGE = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        BUYER_NICK = #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerRate != null" >
        BUYER_RATE = #{buyerRate,jdbcType=DECIMAL},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.Orders" >
    update TB_ORDER
    set PAYMENT = #{payment,jdbcType=VARCHAR},
      PAYMENT_TYPE = #{paymentType,jdbcType=DECIMAL},
      POST_FEE = #{postFee,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      CONSIGN_TIME = #{consignTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      SHIPPING_NAME = #{shippingName,jdbcType=VARCHAR},
      SHIPPING_CODE = #{shippingCode,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=DECIMAL},
      BUYER_MESSAGE = #{buyerMessage,jdbcType=VARCHAR},
      BUYER_NICK = #{buyerNick,jdbcType=VARCHAR},
      BUYER_RATE = #{buyerRate,jdbcType=DECIMAL}
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>